[buildout]
extends =
    http://dist.plone.org/release/4.3.14/versions.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-package.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-versions.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-versions-plone-4.cfg

jenkins_python = $PYTHON27



[test]
eggs +=
    Pillow

[versions]
# stdlib-list >= 0.9 is no longer python 2 compatible
stdlib-list = <0.9
