[buildout]
extends =
    http://dist.plone.org/release/5.1.6/versions.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-package.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-versions.cfg
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-versions-plone-5.cfg

jenkins_python = $PYTHON27



[test]
eggs +=
    Pillow


[versions]
# Downgrade zc.recipe.egg because 2.0.4 seems to be a broken build.
zc.recipe.egg = 2.0.3

# geopy >= 2.0 is no longer python 2 compatible
geopy = <2.0.dev0

# argcomplete >= 2.0 is no longer python 2 compatible
argcomplete = <2

# stdlib-list >= 0.9 is no longer python 2 compatible
stdlib-list = <0.9
