# This file contains general version pinnings, primarely
# making sure that we have up to date buildout and setuptools / distribute
# versions.
# These versions may be used for Plone >= 4

[versions]
# splinter pins selenium in way incompatible with the plone KGS,
# therefore we remove the pinning from the KGS and let splinter decide.
selenium =
# Splinter >= 0.7 is not compatible with ftw.testing.
splinter = 0.6.0

# Use the newest packaging tools so that it is compatible with the newest bootstrap.py.
zc.buildout = >2
setuptools =
distribute =
