# collective.taskqueue configuration, setting up a redis as persistent queue.
# Requires:
# - production.cfg
# - redis/[version].cfg

[buildout]
extends = https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/redis/base.cfg
parts += ${redis-settings:parts}


[redis-settings]
port = 1${buildout:deployment-number}33


[supervisor]
programs +=
    16 redis (startsecs=2 stopasgroup=true stopsignal=QUIT) ${buildout:bin-directory}/redis-server true ${buildout:os-user}
